extends ../partials/layout.pug

block content
  div
    if (iOwnThis)
      button.edit edit
    div Name: #{full_name}
      if (iOwnThis) 
        span.editor
          input(type="text" name="full_name" value=full_name)
          button.submit submit
    div City: #{current_city}
      if (iOwnThis) 
        span.editor
          input(type="text" name="full_name" value=current_city)
          button.submit submit
    div Join Date: #{join_date}
    div Post: 
      each post in posts
        a(href="/show/"+ post.id)=post.title
