extends ../partials/layout.pug

block content
  div author
    div Name: #{full_name}
    div Join Date: #{join_date}
    div City: #{current_city}
  div post
    div Title: #{title}
    div Post Entry: #{post_entry}
